body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 350px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.card-header{
    display: flex;
    justify-content: center;
}

.card-header img{
    max-width: 60px;
    max-height: 60px; 
    margin-right: 20px;
}

.user-info h2{
    font-weight: 900;
}

.user-info p{
    color: gray;
}

.card-body p{
    line-height: 20px;
}