body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 350px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.card-header{
    display: flex;
    justify-content: center;
}

.card-header img{
    max-width: 60px;
    max-height: 60px; 
    margin-right: 20px;
}

.user-info h2{
    font-weight: 900;
}

.user-info p{
    color: gray;
}

.card-body{
    text-align: justify;
    line-height: 20px;
}

.card-stats{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.number{
    font-size: large;
    font-weight: 600;
}

.card-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

button{
    background-color: bisque;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover{
    cursor: pointer;
    transition: all 0.3s;
    scale: 1.2;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}