:root{
    --color1: hsl(54, 100%, 78%);
    --letras: hsl(0, 0%, 10%);
    --azul: hsl(240, 75%, 65%);
    --tarjeta: hsl(54, 88%, 70%);
    --azulHover: hsl(240, 75%, 80%);
}

body{
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{max-width: 200px;
border-radius: 10px;}

button{
    background-color: var(--azul);
    color: var(--letras);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
}

button:hover{
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--azulHover);
    transform: scale(1.1);
    box-shadow: 2px 2px 2px var(--letras);
}

.contenedor{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
gap: 10px;
}

.card{
    background-color: var(--tarjeta);
    padding: 10px;
    box-shadow: 2px 2px 5px var(--letras);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}