body{
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to bottom right, #de1d1d,#500909);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 100px);
    width: 50vw;
    margin: 0 auto;
    gap: 0px;
}

.imagen{
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: 2;
}
img{ border-radius: 20px;
width: 100%;
height: 100%;
object-fit: cover;
box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);}

.texto{
    background-image: linear-gradient(to bottom right, rgba(210, 40, 40, 0.5), rgba(141, 22, 22, 0.5));
    color: azure;
    border-radius: 20px;
    grid-column: 3/6;
    grid-row: 3/5;
    z-index: 3;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2);
}

.fondo{
    background-image: linear-gradient(to bottom right, rgba(255 255 255 /0.5), rgba(50, 50, 50, 0.5));
    grid-column: 2/5;
    grid-row: 2/6;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Para la próxima introducir más columnas en grid */