:root{
    --principal: hsl(99, 19%, 29%);
    --secundario: hsl(99, 49%, 29%);
    --sidebar: hsl(240, 64%, 47%);
    --main: hsl(180, 84%, 47%);
    --letra: hsl(1, 100%, 100%);
    --lateral: hsl(99, 77%, 15%);
    --widgets: hsl(0, 100%, 84%);
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0 auto;
    background-color: var(--principal);
    color: var(--letra);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-areas: "header header header"
                            "aside main main"
                            "aside section section"
                            "footer footer footer";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 50px ;
    gap: 10px;
}

header{
    grid-area: header;
    background-color: var(--secundario);
}

aside{
    grid-area: aside;
    background-color: var(--sidebar);
}

main{
    grid-area: main;
    background-color: var(--main);
}

section{
    grid-area: section;
    background-color: var(--widgets);
}

footer{
    grid-area: footer;
    background-color: var(--secundario);
    width: 100vw;
}