body{
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
}

:root{
    --oscuro: hsl(240, 10%, 10%);
    --sidebar: hsl(240, 5%, 28%);
    --pricipal: hsl(240, 5%, 90%);
    --cartas: hsl(240, 5%, 80%);
}

header{
    background-color: var(--oscuro);
    color: var(--pricipal);
    text-align: center;
    grid-column: 1/3;
}

aside{
    background-color: var(--sidebar);
    color: var(--pricipal);
}

aside a{
    color: var(--pricipal);
    text-decoration: none;
    display: block;
    margin: 150px;
}

main{
    background-color: var(--pricipal);
    color: var(--oscuro);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.card{
    background-color: var(--cartas);
    color: var(--oscuro);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.7);
}

footer{
    background-color: var(--oscuro);
    color: var(--pricipal);
    grid-column: 1/3;
    text-align: center;
}