body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 40px;
}

.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.multicolumn{
    columns: auto;
    column-gap: 2em;
    column-rule: 1px solid black;
    column-fill: balance;
    column-span: all;
}