body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: grid;

    /* Estableve el número de columnas */
    grid-template-columns: repeat(8, 1fr);
    /* Establece el número de filas */
    grid-template-rows: 100px 10em 1fr;
}

div{
    background-color: hsl(200, 71%, 16%);
    color: #000;
    font-size: 2rem;
    padding: 1rem;
}

.box1{
    background-color: aquamarine;
    /* Indica desde que columna inicia y hasta que columna termina */
    grid-column: 1/3;
    /* Indica desde que fila inicia y hasta que fila termina */
    grid-row: 1/3;
}


.box2{background-color: palevioletred;
grid-column: 3/6;
grid-row: 1/3;
}

.box3{background-color: blanchedalmond;
grid-column: 4/8;
}

.box4{background-color: rgb(142, 188, 228);
grid-column: 1/6;
grid-row: 2/4;}
